/*******************
Main sidebar
******************/
.left-sidebar {
position: absolute;
width: 260px;
height: 100%;
top: 0px;
left: -200px;
z-index: 50;
padding-top: 0px;
background: #fff;
-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
-webkit-transition: 0.3s ease-in;
-o-transition: 0.3s ease-in;
transition: 0.3s ease-in; }
.left-sidebar .nav-text-box {
padding: 13px 25px 13px 15px;
border-bottom: 1px solid #e9ecef; }

/*******************
sidebar navigation
******************/
.scroll-sidebar {
height: calc(100% - 80px);
position: relative;
/*&.ps .ps__scrollbar-y-rail {
left: 2px;
right: auto;
background: none;
width: 6px;

}*/ }

.collapse.in {
display: block; }

.sidebar-nav {
padding: 15px 0 0 0px; }
.sidebar-nav ul {
margin: 0px;
padding: 0px; }
.sidebar-nav ul li {
list-style: none; }
.sidebar-nav ul li a {
color: #54667a;
padding: 10px 15px 10px 15px;
display: block;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center; }
.sidebar-nav ul li a i {
    float: right;
    font-style: normal;
    width: 32px;
    text-align: center; }
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #009efb; }
    .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #009efb; }
.sidebar-nav ul li a.active {
    color: #343a40; }
.sidebar-nav ul li ul {
padding: 10px 0px 10px 0px;
background: rgba(0, 0, 0, 0.02); }
.sidebar-nav ul li ul li a {
    padding: 7px 15px 7px 20px; }
.sidebar-nav ul li ul ul {
    padding-left: 15px; }
.sidebar-nav ul li.nav-small-cap {
font-size: 12px;
margin-bottom: 0px;
margin: 20px 0px 20px 0px;
color: #adb5bd;
height: 1px;
background: rgba(0, 0, 0, 0.1);
font-weight: 500; }
.sidebar-nav ul li.nav-devider {
height: 1px;
background: #e9ecef;
display: block;
margin: 15px 0; }
.sidebar-nav > ul > li > a i {
font-size: 16px;
margin-top: 3px;
vertical-align: middle;
color: #a6b7bf; }
.sidebar-nav > ul > li > a .badge {
margin-right: 7px;
vertical-align: top; }
.sidebar-nav > ul > li {
margin-bottom: 8px;
margin-top: 8px; }
.sidebar-nav > ul > li.selected > a {
color: #009efb; }
.sidebar-nav > ul > li.selected > a i {
color: #009efb; }
.sidebar-nav .waves-effect {
transition: none;
-webkit-transition: none;
-o-transition: none; }

.sidebar-nav .has-arrow {
position: relative; }
.sidebar-nav .has-arrow::after {
position: absolute;
content: '';
width: 7px;
height: 7px;
border-width: 1px 0 0 1px;
border-style: solid;
border-color: #54667a;
margin-left: 10px;
-webkit-transform: rotate(135deg) translate(0, -50%);
-ms-transform: rotate(135deg) translate(0, -50%);
-o-transform: rotate(135deg) translate(0, -50%);
transform: rotate(135deg) translate(0, -50%);
-webkit-transform-origin: top;
-ms-transform-origin: top;
-o-transform-origin: top;
transform-origin: top;
top: 21px;
-webkit-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out; }

/*.sidebar-nav .active > .has-arrow::after,*/
.sidebar-nav li.selected > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
-webkit-transform: rotate(-135deg) translate(0, -50%);
-ms-transform: rotate(-135deg) translate(0, -50%);
-o-transform: rotate(-135deg) translate(0, -50%);
top: 42%;
width: 7px;
transform: rotate(-135deg) translate(0, -50%); }

/* perfect-scrollbar v0.7.1 */
.ps {
-ms-touch-action: auto;
touch-action: auto;
overflow: hidden !important;
-ms-overflow-style: none; }

@supports (-ms-overflow-style: none) {
.ps {
overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.ps {
overflow: auto !important; } }

.ps.ps--active-x > .ps__scrollbar-x-rail,
.ps.ps--active-y > .ps__scrollbar-y-rail {
display: block;
background-color: transparent; }

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
background-color: #eee;
opacity: 0.9; }

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
background-color: transparent;
width: 8px; }

.ps > .ps__scrollbar-x-rail {
display: none;
position: absolute;
/* please don't change 'position' */
opacity: 0;
bottom: 0px;
/* there must be 'bottom' for ps__scrollbar-x-rail */
height: 6px; }

.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
position: absolute;
/* please don't change 'position' */
background-color: rgba(255, 255, 255, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
bottom: 2px;
/* there must be 'bottom' for ps__scrollbar-x */
height: 6px; }

.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
height: 6px; }

.ps > .ps__scrollbar-y-rail {
display: none;
position: absolute;
/* please don't change 'position' */
opacity: 0;
right: 0;
/* there must be 'right' for ps__scrollbar-y-rail */
width: 6px; }

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
position: absolute;
/* please don't change 'position' */
background-color: rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
right: 2px;
/* there must be 'right' for ps__scrollbar-y */
width: 6px; }

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
width: 6px; }

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
background-color: rgba(0, 0, 0, 0.2);
opacity: 0.9; }

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
background-color: rgba(0, 0, 0, 0.2);
height: 6px; }

.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
background-color: rgba(0, 0, 0, 0.2);
width: 6px; }

.ps:hover > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-y-rail {
opacity: 0.6; }

.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
background-color: rgba(0, 0, 0, 0.2); }

.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
background-color: rgba(0, 0, 0, 0.2); }

#slimtest3.ps .ps__scrollbar-y-rail {
left: 3px;
right: auto; }

#slimtest4.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
background-color: #01c0c8; }

#slimtest4.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
background-color: #01c0c8; }

#slimtest4.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
background-color: #01c0c8; }

/*******************
Fixed -sidebar
******************/
.fixed-sidebar .left-sidebar {
position: fixed; }

.fixed-sidebar.mini-sidebar .navbar-collapse,
.fixed-sidebar.mini-sidebar .footer {
margin-left: 70px; }

@media (max-width: 767px) {
.fixed-sidebar.mini-sidebar .navbar-header {
position: relative; }
.fixed-sidebar.mini-sidebar .navbar-collapse {
margin-left: 0px; } }

/*******************
Mini sidebar
******************/
@media (min-width: 769px) {
.left-sidebar:hover {
left: 0px; }
.navbar-header {
margin-left: 60px;
-ms-flex-negative: 0;
flex-shrink: 0; }
.navbar-header .navbar-brand {
padding-top: 0px; }
.lock-nav .left-sidebar {
left: 0px;
width: 220px; }
.lock-nav .page-wrapper,
.lock-nav .footer {
margin-left: 220px; }
.lock-nav .topbar {
padding-left: 220px; }
.lock-nav .topbar .navbar-header {
margin-left: 0px; } }

@media (max-width: 768px) {
.show-sidebar .left-sidebar {
left: 0px; }
.left-sidebar {
left: -260px; } }
    